main {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 1em;
  height: 100vh;
}

.dice-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px 30px;
  place-items: center;
}

.roll-dice-btn {
  font-family: inherit;
  background: #5035FF;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  color: #FFF;
  width: 200px;
  height: 60px;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.roll-dice-btn:focus {
  outline: none;
}

.roll-dice-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.details > h1 {
  margin: 0;
  font-weight: 700;
}

.details p {
  margin: 0;
  font-size: 1.125rem;
  text-align: center;
}

.details-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (width >= 640px) {
  main {
    border-radius: 10px;
    justify-content: space-around;
  }
  .dice-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    place-items: center;
  }
  .details > h1 {
    font-size: 2.5rem;
  }
  .details p {
    font-size: 1.25rem;
  }
}

@media (width >= 768px) {
  main {
    max-height: 700px;
  }
  .details > h1 {
    font-size: 2.75rem;
  }
  .details p {
    font-size: 1.5rem;
  }
  .roll-dice-btn {
    width: 300px;
    height: 80px;
    font-size: 1.75rem;
  }
  .details {
    gap: 1em;
  }
  .details-inner {
    justify-content: space-around;
  }
}